.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.cartContent > img {
    height: 120px;
    width: 100px;
    text-align: center;
    margin: 0;
}

.name {
   
        padding-top: 50px;
    
}

.cartTotal {
    text-align: center;
}

.objet-cart {
    margin-top: 150px;
}

.cart-message-center {
    margin-top: 300px;
    color: rgb(49, 4, 49);
    font-size: 100px;
}

.counter-button {
    text-align: center;
    color: white;
    background-color: rgb(233, 66, 211);
    border: none;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    height: 20px;
    width: 30px;
    transition: background-color 0.3s ease-in-out;
}

.counter-button:hover {
    background-color: rgb(99, 8, 87);
}

.delete-cart {
    text-align: center;
    color: white;
    background-color: rgb(255, 0, 85);
    border: none;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    height: 20px;
    width: 30px;
    transition: background-color 0.3s ease-in-out;
}

.delete-cart:hover {
    background-color: rgb(102, 0, 0);
}