img {
    width: 200px;
    height: 250px;
    margin: auto;
    margin-left: 15px;
    
}

.container {
    border: 1px solid rgb(233, 66, 211);
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    display: inline-block;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 200px;
    
}

.container .name {
    text-align: center;
}

.container .price {
    text-align: center;
}

.container:hover {
    scale: 1.09;
    transition: .3s;
    background-color: rgb(243, 152, 228);
}

.container button {
    text-align: center;
    color: white;
    background-color: rgb(233, 66, 211);
    border: none;
    border-radius: 6px;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    margin-left: 55px;
    margin-top: 10px;
    transition: background-color 0.5s ease-in-out;
}

.container button:hover {
    background-color: rgb(99, 8, 87);
}
