.counter {
    width: fit-content;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

button {
    background-color: rgb(63, 6, 65);
    border: none;
    color: white;
}

button:hover {
    background-color: rgb(255, 0, 212);
    cursor: pointer;
    transition: 0.4s;
}

.buttom-count {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.buttom-add {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}
